<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>File Bucket</title>
</head>

<body>

    <div class="container">
        <h4 class="title">File Bucket Share text and files in real time!</h4>

        <div class="options">
            <form class="text" method="POST">
                <!-- Middleware token -->
                {% csrf_token %}
                <textarea id="user-text" name="user_input" spellcheck="true">{{ text_info }}</textarea>
                <div class="text-buttons">
                    <button id="clear" onclick="clearText()">Clear</button>
                    <button id="copy" onclick="copyToClipboard()">Copy</button>
                    <button id="enter" type="submit">Enter</button>
                </div>
            </form>

            <div class="file">
                <div class="group">
                    <h1>Drag and Drop</h1>
                    <img src="/static/ArrowUpload.png" alt="Upload Arrow Icon">
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyToClipboard() {
            var textelem = document.getElementById("user-text");
            textelem.select();
            textelem.setSelectionRange(0, 9999);
            document.execCommand("copy");
        }

        function clearText() {
            document.getElementById("user-text").value = "";
        }
    </script>

</body>

</html>