<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <title>File Bucket</title>
</head>

<body>

    <div class="container">
        <h4 class="title">File Bucket Share text and files in real time!</h4>

        <div class="options">
            <form class="text" method="POST">
                <!-- Middleware token -->
                {% csrf_token %}
                <textarea id="user-text" name="user-input-text" spellcheck="true">{{ text_info }}</textarea>
                <div class="text-buttons">
                    <button id="clear" type="submit" name="text-clear-button" onclick="clearText()">Clear</button>
                    <button id="copy" type="button" onclick="copyToClipboard()">Copy</button>
                    <button id="enter" type="submit" name="text-enter-button">Enter</button>
                </div>
            </form>

            <div class="file">
                <div class="group">
                    <button class="file-button" onclick="chooseFile()">⮬ Choose File</button>
                    <form id="file-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="file-choose" style="display: none" name="doc"
                            accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" method="post"
                            enctype="multipart/form-data" data-original-title="choose file"
                            onchange="uploadFile(event)">
                            
                        <button class="file-button-upload" name="file-upload-button" style="display: none" type="submit">Upload File</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const textarea = document.getElementById("user-text");
        const inputfile = document.getElementById("file-choose");
        const fileform = document.getElementById("file-form");
        const uploadBtn = document.getElementsByClassName("file-button-upload")[0];

        function copyToClipboard() {
            textarea.select();
            textarea.setSelectionRange(0, 9999);
            document.execCommand("copy");
            textarea.setSelectionRange(0, 0);
        }

        function clearText() {
            textarea.value = "";
        }

        function chooseFile() {
            inputfile.click();
        }

        function uploadFile(e) {
            const fileName = e.target.files[0].name;
            let filedata = `<h1>${fileName}</h4>`;
            uploadBtn.style.display = 'inline';
            fileform.insertAdjacentHTML("beforeend", filedata);
        }
    </script>

</body>

</html>