
$bg-color-palette: (
    "background": #9cafb7,
    "file": #333333,
    "clear": #954C50,
    "copy": #738972,
    "enter": #4F6069,
    "download": #d1d1d1,
    "title": #003d5b,
);

$text-color: white;
$bs: 50px;  // gap size
$big-border-radius: 15px;
$small-border-radius: 5px;