/* References: https://coolors.co/182825-016fb9-22aed1-6d8ea0-afa98d */
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Averia+Libre:wght@300&family=Bebas+Neue&family=DM+Sans&family=Heebo:wght@300&family=Hind+Madurai:wght@300&family=Inconsolata:wght@500&family=Lexend+Deca:wght@500&family=Noto+Sans&family=Open+Sans:wght@300&family=Prompt:wght@300&family=Work+Sans:wght@200;400&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');

:root {
    --bgcolor: #40544B;
    --dadcolor: #DCDBC9;
    --clearButtonColor: #954C50;
    --copyButtonColor: #738972;
    --EnterButtonColor: #4F6069;
    --titleBackground: #AAC5B4;

    --txcolor: white;

    --bs: 50px;
    font-family: 'Averia Libre', cursive;

}

body {
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
    background-color: var(--bgcolor);
}

.text{
    margin: var(--bs) calc(var(--bs) / 2) var(--bs) var(--bs);
    background-color: var(--txcolor);
    padding: 15px;
}

.file {
    margin: var(--bs) var(--bs) var(--bs) calc(var(--bs) / 2);
    background-color: var(--dadcolor);
    text-align: center;
    cursor: pointer;
    position: relative;
}

.text, .file {
    border-radius: 15px;
}

.title{
    background-color: var(--titleBackground);
    text-align: center;
    text-decoration: none;
    font-weight: none;
    /* position: fixed;
    top: 0px; */
    margin: 0px;
    padding: 4px;
}

img{
    width: 200px;
    height: 200px;
    
}

.group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#all_text_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.text_button {
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#clear {
    background-color: var(--clearButtonColor);
}

#copy {
    background-color: var(--copyButtonColor);
}

#enter {
    background-color: var(--EnterButtonColor);
}

textarea, textarea:focus {
    width: 99%;
    height: 95%;
    resize: none;
}

textarea:focus {
    outline: none;
}